@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_principal {
    background-color: rgb(9, 246, 28);
    color: rgb(243, 243, 243);

}
.titulo_secundario{
        background-color: #096800;
        color:white
}

#layout{
    font-size: 1em; /*Herda o tamanho do pai dele (no nosso caso o body) com multiplicador*/
    display:flex;
    font-style: normal; /*Estilo da fonte: italic - normal - oblique*/
    line-height: 30px; /*Espaçamento entre linhas*/
    font-weight: 400; /*Negrito em css 100 a 900 bold a bolder*/
    text-transform:none; /*Capitalização do texto: uppercase - lowercase e capitalize*/     
    text-decoration:  none; /*Sublinhado de texto: underline ou ouverline double - dashed - dotted - wavy - none*/
    word-spacing: 3px ; /*Espaçamento entre palabras*/
    letter-spacing: none; /*Espaçamento entre letras*/
    text-indent: 20px; /*Espaçamento de paragrago primeira linha*/
    text-align: none; /*Alinhamento do texto: Left - right -justify e center*/

    border-style: solid; /*Estilo da borda solid,dashed,dotted, groove, ridget, inset, outset*
    border-width: 10px;/*espessura da borda*
    border-color: rgb(255, 0, 0); /*cor da borda*/
    border: none 5px rgb(red, green, blue) ;/*Definir estilo, espessura e cor da borda numa mesma linha*/
    border-top: dotted 10px rebeccapurple;
    border-left: dotted 20px red;
    border-bottom: solid 15px yellow; /*estilizar lado direito da borda*/
    border-radius: 50px ; /*Arredondar cantos da borda - px - %*/
    margin: 20px 50px; /*Margem do lado de fora da borda*/
    margin-left:20px ;/*Margem a esquerda fora da borda*/
    margin-right: 20px; /*Margem a direita fora da borda*/
    margin-bottom:20px ; /*Margem de baixo fora da borda*/
    margin-top: 20px; /*Margem de cima fora da borda*/
    padding: 20px; /*Margem DENTRO da Borda*/
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom:20px ;
}


.rodape{
    text-align: center;
}

body{
    /*Topografia CSS*/
background-color: rgb(0, 0, 0); /*cor de fundo*/
color: rgb(255, 0, 0); /*cor da fonte*/
font-family: "Roboto", sans-serif; /*tipo do texto*/
font-size: 16px; /*tamanho da fonte - px/em/rem*/

}

nav a{
 text-decoration: None;
}

{ 
background-color: none
display: none
width: 
height: 
}

#teste_estilo_ul {
list-style-type: disc; /*Disc ou square* defini o estilo de marcador da lista não ordenada (UL)*/

}

#teste_estilo_ol {
list-style-type: decimal; /*Decimal, lower-roman, upper-roman lower-greek upper-alfa lower-alpha* - Define o estilo de marcadores de lista ordenadas*/
list-style-image: url (-webkit-image-set);
}

li{
border:solid 3px orange;

list-style-position: outside; /*Ele serve para dizer ao navegador se o marcador da lista faz parte ou não do texto da lista: inside ou outside*/
}

#impacto{
background-image: url("img/senhordosaneis_fundo.jpg"); /*Carrega imagem ao fundo do elemento html*/
background-repeat: no-repeat; /*repeat, no repeat, repeat-y, repeat-x, Configura a forma como a imagem ira repetir ao fundo do elemento html*/
background-position:center; /*Left, right, top, bottom, center e pode dois ao mesmo tempo*/
width:2000px ;
height: 1500px;
background-size: cover; /*Serve para definiar COMO a imagem será exibida ao fundo do elemento Html - contain - cover- px - % auto*/
background-attachment: fixed; /*Define como a imagem vai lidar com o scroll ao findo do elemento html - scroll e fixed*/
text-shadow: none; /*Define a sombra do texto*/
position:relative /*Define o posicionamento atras ou frente dos elementos html fixed, relative, absolute e static*/

}

.noticia {
border: solid 3px white;
width: 200 px;
position:fixed; /*Define o posicionamento atras ou frente dos elementos html fixed, relative, absolute e static*/
height: visible; /*tratar o comportamento de quando por exemplo um texto passa das bordas de um elemento html (da um overflow) ;*/
overflow: auto; /*configura o comportamento =de quando por exempo um texto passa das bordas de um elemento html visible/hideem/scroll/auto;*/
box-shadow: 3px 3px 3px 3px orange; /*Define a sobra do elemento html de bloco*/
}

.um{
background-color:blue ;
top: 0px;
left: 50px;
z-index:3; /*Define a ordem que o elemento vai ficar uns atras dos outros*/
}

.dois{
    background-color: red;
top: 100px;
left:150px;
}

.tres{
background-color: green;
top:200px ;
left:250px;
}
