@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_principal {
    background-color: rgb(9, 246, 28);
    color: rgb(243, 243, 243);

}
.titulo_secundario{
        background-color: #096800;
        color:white
}

#layout{
    font-size: 1em; /*Herda o tamanho do pai dele (no nosso caso o body) com multiplicador*/
    display:flex;
    font-style: normal; /*Estilo da fonte: italic - normal - oblique*/
    line-height: 30px; /*Espaçamento entre linhas*/
    font-weight: 400; /*Negrito em css 100 a 900 bold a bolder*/
    text-transform:none; /*Capitalização do texto: uppercase - lowercase e capitalize*/     
    text-decoration:  none; /*Sublinhado de texto: underline ou ouverline double - dashed - dotted - wavy - none*/
    word-spacing: 3px ; /*Espaçamento entre palabras*/
    letter-spacing: none; /*Espaçamento entre letras*/
    text-indent: 20px; /*Espaçamento de paragrago primeira linha*/
    text-align: none; /*Alinhamento do texto: Left - right -justify e center*/

    border-style: solid; /*Estilo da borda solid,dashed,dotted, groove, ridget, inset, outset*
    border-width: 10px;/*espessura da borda*
    border-color: rgb(255, 0, 0); /*cor da borda*/
    border: none 5px rgb(red, green, blue) ;/*Definir estilo, espessura e cor da borda numa mesma linha*/
    border-top: dotted 10px rebeccapurple;
    border-left: dotted 20px red;
    border-bottom: solid 15px yellow; /*estilizar lado direito da borda*/
    border-radius: 50px ; /*Arredondar cantos da borda - px - %*/
    margin: 20px 50px; /*Margem do lado de fora da borda*/
    margin-left:20px ;/*Margem a esquerda fora da borda*/
    margin-right: 20px; /*Margem a direita fora da borda*/
    margin-bottom:20px ; /*Margem de baixo fora da borda*/
    margin-top: 20px; /*Margem de cima fora da borda*/
    padding: 20px; /*Margem DENTRO da Borda*/
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom:20px ;
}


.rodape{
    text-align: center;
}

body{
    /*Topografia CSS*/
background-color: rgb(0, 0, 0); /*cor de fundo*/
color: rgb(255, 0, 0); /*cor da fonte*/
font-family: "Roboto", sans-serif; /*tipo do texto*/
font-size: 16px; /*tamanho da fonte - px/em/rem*/

}

nav a{
 text-decoration: None;
}

.teste_display
background-color: #none;
display: none;
width: none;
height: none;
}


